[flake8]
ignore =
    E203    # No space before colon
    W503
    A003    # Class attribute shadows a python builtin -- not much chance of that causing a problem
    D401    # First line should be in imperative mood -- cached_properties don't fit this bill.
    D101    # Missing docstring in public class -- my docstrings are in the __init__ which seems to fail this ?
    RST210  # Otherwise it flags down **kwargs in docstrings.
max-line-length = 88
max-complexity = 18
inline-quotes = double
docstring-convention=numpy
exclude =
    setup.py
per-file-ignores =
    tests/*:D
    **/__init__.py:F401
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
